[Desktop Entry]
Type=sddm-theme
Name=HML Reimagined
Comment=Login theme for HML Reimagined Linux
Author=HML Reimagined Team
Version=1.0
Website=https://github.com/hml-reimagined
License=MIT
