/*html{scrollbar-color:rgba(0,0,0,0.3) transparent;scrollbar-width:thin}*/
@media not all and (not (min-resolution:.001dpcm)) {
.scrollbar-fixed{scrollbar-color:rgba(0,0,0,0.05) transparent;scrollbar-width:thin}
.scrollbar-fixed:hover{scrollbar-color:rgba(0,0,0,0.2) transparent}
.scrollbar-white{scrollbar-color:rgba(255,255,255,0.01) transparent;scrollbar-width:thin}
.scrollbar-white:hover{scrollbar-color:rgba(255,255,255,0.5) transparent}
/*::-webkit-scrollbar{width:8px;height:8px;background-color:transparent}
::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.1);border-radius:1px}
::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.3)}*/
.scrollbar-fixed::-webkit-scrollbar{width:4px;height:4px;background-color:transparent}
.scrollbar-fixed::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.05);border-radius:2em}
.scrollbar-fixed:hover::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.2)}
.scrollbar-white::-webkit-scrollbar{width:6px;height:6px;background-color:transparent}
.scrollbar-white::-webkit-scrollbar-thumb{background:rgba(255,255,255,0.01);border-radius:2em}
.scrollbar-white:hover::-webkit-scrollbar-thumb{background:rgba(255,255,255,0.5)}
}
::-webkit-input-placeholder{color:rgba(255,255,255,0.6)}
:-moz-placeholder{color:rgba(255,255,255,0.6);opacity:1}
::-moz-placeholder{color:rgba(255,255,255,0.6);opacity:1}
:-ms-input-placeholder{color:rgba(255,255,255,0.6)}
::-ms-input-placeholder{color:rgba(255,255,255,0.6)}
::placeholder{color:rgba(255,255,255,0.6)}
button:disabled,
button[disabled]{
background-color: #741217;
  border: 1px solid #d8424c;
  color: #d8424c;
  cursor: no-drop
}
.bg-default{background-repeat:repeat;background-attachment:scroll;background-position:0 0;background-clip:border-box;background-origin:padding-box;background-size:auto auto;background-color:#d4100c;background-image:linear-gradient(to bottom,rgba(194,43,186,0),rgba(194,43,186,0) 100px,#d4100c 450px,#d4100c),repeating-linear-gradient(-52deg,#ed4542,rgba(242,87,242,0) 400px,#ed4542 400px,rgba(242,87,242,0) 800px,#ed4542 600px,rgba(194,43,186,0) 1300px)}
.bg-metaverse{background:url(../images/metaverse.jpg) no-repeat center center #892B1F fixed;background-size:cover}
.bg-blue{background:url(../images/blue-bg.png) no-repeat left top #3e5c9c fixed;background-size:cover}
.bg-yellow{background:url(../images/yellow-bg.png) no-repeat left top #d99030 fixed;background-size:cover}
.bg-wave{background:url(../images/wave.png) no-repeat left top #CCC fixed;background-size:cover}
.bg-trianglify{background:url(../images/trianglify.png) no-repeat left top #CCC fixed;background-size:cover}
.bg-hero{background:url(../images/hero-bg.png) no-repeat left top red fixed;background-size:cover}
.bg-wave-vertical{background:url(../images/wave-vertical-alt.svg) no-repeat left top red fixed;background-size:cover}
.bg-digital-art{background:url(../images/digital-art.jpg) no-repeat left top #273540 fixed!important;background-size:cover}
.default-btn{display:block;margin:10px -40px 10px 0;float:left;outline:none}
.default-btn .left{display:block;float:left;margin:0;padding:0;border:19px solid transparent;border-right-color:rgba(0,0,0,0.5);border-bottom-color:rgba(0,0,0,0.5)}
.default-btn .center{display:block;float:left;margin:0;padding:0;color:#EEE;font:Bold 12px/38px Arial;min-height:38px;background:rgba(0,0,0,0.5);padding:0 10px}
.default-btn .right{display:block;float:left;margin:0;padding:0;border:19px solid transparent;border-left-color:rgba(0,0,0,0.5);border-bottom-color:rgba(0,0,0,0.5)}
.actived{position:relative;z-index:100;cursor:default;pointer-events:none;height:40px;overflow:hidden}
.actived .left{border-width:21px;border-right-color:#ff0;border-bottom-color:#ff0}
.actived .center{background:#ff0;color:#666;height:40px;line-height:40px}
.actived .right{border-width:21px;border-color:#ff0;border-top-color:transparent;border-right-color:transparent}
.tag-btn{text-decoration:none;color:#333;border-radius:2em;border:1px solid rgba(255,255,255,0.3);padding:3px 15px;font:Bold 12px/20px Arial;color:#fff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:5px 3px;display:inline-block;vertical-align:top}
.tag-actived{background:rgba(181,181,66,0.9);border:1px solid transparent}
.tag-btn:not(.tag-actived):hover{background:rgba(0,0,0,0.06)}
.margin-top-14{margin-top: 14px!important;}
.margin-top-12{margin-top: 12px!important;}
.margin-top-10{margin-top: 10px!important;}
.margin-top-8{margin-top: 8px!important;}
#controls .margin-top-14, #controls .margin-top-12, #controls .margin-top-10, #controls .margin-top-8{margin-top: 0!important;}
.panel-previous{background:url(../images/previous.png) no-repeat center center #FFF;background-size:16px;width:30px;height:30px;position:absolute;left:10px;top:50%;border:0;border-radius:50%;box-shadow:3px 5px 10px 3px rgba(0,0,0,0.3);cursor:pointer;transform:translateY(-50%);transition:all 100ms ease-in-out;display:none;z-index:10;opacity:.6;color:transparent;}
.panel-next{background:url(../images/next.png) no-repeat center center #FFF;background-size:16px;width:30px;height:30px;position:absolute;right:10px;top:50%;border:0;border-radius:50%;box-shadow:3px 5px 10px 3px rgba(0,0,0,0.3);cursor:pointer;transform:translateY(-50%);transition:all 100ms ease-in-out;display:none;z-index:10;opacity:.6; color:transparent;}
@media screen and (max-width:601px){
    .panel-previous, .panel-next{
        width: 50px;
        height: 50px;
        background-color: rgba(255,255,255,.6);
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
}
@media screen and (max-height:601px){
    .panel-previous, .panel-next{
        width: 50px;
        height: 50px;
        background-color: rgba(255,255,255,.6);
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
}
.panel-previous:hover,.panel-next:hover, .panel-previous:active,.panel-next:active{transform:translateY(-50%) scale(1.2)}
.large-panel:hover .panel-previous,.large-panel:hover .panel-next,.grip-panel:hover .panel-previous,.grip-panel:hover .panel-next{opacity:1}
.clear-left{clear:left;margin:0;border:0;padding:0;height:0;display:block}
.clear-right{clear:right;margin:0;border:0;padding:0;height:0;display:block}
.clear-all{clear:both;margin:0;border:0;padding:0;height:0;display:block}
.alert-wrapper{position: relative;}
.alert-box{border-radius:2px;margin:20px auto 10px;font:Bold 15px/20px Arial;color:#fff;max-width:98%;padding:10px 20px 10px 40px;box-shadow:3px 5px 10px rgba(0,0,0,0.3);background:url(../images/alert.png) no-repeat 5px center #f79a04;background-size:30px auto}
.alert-dont-show-agian{position: absolute; right:16px;bottom:3px; font:12px/1 Arial;background-color:rgba(255,255,255,.3);border: 1px solid rgba(0,0,0,.3);cursor: pointer;color: red;border-radius: 2em;}
.alert-close{position: absolute; right: 16px;top:3px; font:Bold 12px/1 Arial;color: red;width: 20px; height: 20px; border-radius: 50%;text-align: center;padding: 0; border:1px solid rgba(255,255,255,.1);cursor: pointer;}

.pagination,.pagination .page-item{list-style:none;margin:0 10px;padding:0}
.page-item a,.page-item span,.pager a,.pager span{font:12px/30px Helvetica,"Trebuchet MS",Verdana,sans-serif;display:block;float:left;background-color:#ff0;border-radius:5px;margin:10px 5px;text-decoration:none;padding:3px 5px;color:#333;border-radius:2em;padding:1px 20px;box-shadow:0 4px rgba(0,0,0,0.3);font-weight:700}
.page-item span,.pager span{background:rgba(0,0,0,0.1);color:rgba(255,255,255,0.5);box-shadow:none}
.pager a,.playnow{border-radius:2em;padding:1px 20px;box-shadow:2px 4px rgba(0,0,0,0.3);background:#ff0;min-width:100px;font-weight:700}
.pager a:hover,.playnow:hover{background:#d1c11b}
.playnow{width:106px;display:block;margin:0 auto;font:Bold 15px/30px Helvetica,"Trebuchet MS",Verdana,sans-serif;color:#333;cursor:pointer;padding:2px 3px;border-radius:0 0 5px 5px;border:0}
div[data-ad]{background:url(../images/ad-here.png) no-repeat center center rgba(0,0,0,0.05)}
div[data-ad="auto"]{width:310px;height:100px;max-width:98%;max-height:98%;margin:10px auto;padding:5px;border-radius:3px}
div[data-ad="728x90"]{width:738px;height:100px;margin:10px auto}
@media(min-width:1200px) {
div[data-ad="auto"],.GA_responsive{width:1210px;height:100px}
}
@media(min-width:728px) and (max-width:1199px) {
div[data-ad="auto"],.GA_responsive{width:738px;height:100px}
}
@media(max-width:600px) {
div[data-ad="auto"],.GA_responsive,div[data-ad="728x90"]{width:310px;height:260px}
}
.test-emulators{font:12px/20px Arial;color:#fff;padding:0 10px}
#playing{height:calc(100vh - 190px);background:#000;position:relative;border:0 dashed #fff;text-align:center;line-height:100px;cursor:pointer}
.emulator-right-ad{float:right;width:340px;height:calc(100vh - 190px);position:relative;background:rgba(0,0,0,0.1);overflow:hidden}
.emulator-ad-content{width:310px;height:610px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);background:rgba(255,255,255,0.3);padding:5px;border-radius:3px}
@media(max-width:1200px) {
.emulator-right-ad{display:none}
}
@media(max-height:820px) {
.emulator-ad-content{height:260px;overflow:hidden}
}
.test-emulators iframe{border:0;margin:0;padding:0}
.choose-emulators{float:right}
.test-emulators form{float:left}
.test-emulators form input,.test-emulators form button{background:rgba(0,0,0,0.3);border:0;padding:3px 10px;margin:0;float:left;outline:none;cursor:pointer}
.test-emulators form button{color:#fff;border-left:1px solid rgba(255,255,255,0.1)}
.select-emulator{font:12px/30px Arial;background-color:rgba(0,0,0,0.3);padding:5px 10px;border:0;color:#fff;outline:none}
.select-emulator:disabled{background-color:#EBEBE4;color:#C6C6C6;opacity:.6;cursor:not-allowed;pointer-events:all!important}
.select-emulator option{font:12px/22px Arial;background-color:#940B08}
#choose-file{color:rgba(255,255,255,0.6)}
.ratings{list-style-type:none;margin:0 10px;padding:0;direction:rtl;text-align:left;vertical-align:top;position:relative;display: inline-block;}
.star{position:relative;line-height:20px;display:inline-block;transition:color .2s ease;color:#ebebeb;cursor:pointer}
.star:before{content:'\2605';width:20px;height:20px;font-size:20px;padding:10px 0}
.star:hover,.star.selected,.star:hover ~ .star,.star.selected ~ .star{transition:color .8s ease;color:#ff0}
.vote-status{position:absolute;left:10px;top:-30px;font:12px/18px Arial;background:black;border-radius:5px;box-shadow:0 5px rgba(255,0,0,0.3);padding:1px 10px;direction:ltr;color:#fff;display:block;white-space: nowrap;text-align:center;display:none;z-index:802}
.loader{border:16px solid #f3f3f3;border-top:16px solid red;border-radius:50%;width:100px;height:100px;animation:spin 2s linear infinite;margin:100px auto;opacity:.8}
@keyframes spin {
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}
#nav{margin:0;min-height:50px;background-color:#ED213A;background:-webkit-linear-gradient(to right,#93291E,#ED213A);background:linear-gradient(to right,#93291E,#ED213A);border:0;border-bottom:2px solid transparent;border-image:linear-gradient(45deg,yellow,transparent,transparent);border-image-slice:1}
.bg-blue #nav{background:#2c4e96}
.bg-yellow #nav{background:#e29229}
.bg-metaverse #nav{background:#332324}
.bg-wave #nav{background:#9182FF}
.bg-trianglify #nav{background:#763F23}
.bg-hero #nav{background:#21A3BB}
.bg-digital-art #nav{background:#2B3D4B!important}
.bg-digital-art #play .game-info{background:#2B3D4B!important}

@media (max-width:900px) {
#nav{border-bottom:2px solid transparent;border-image:linear-gradient(45deg,yellow,transparent);border-image-slice:1}
}
.nav-content{max-width:1920px;margin:0 auto;border:0;padding:0}
.fs-logo{color:#ff0;text-shadow:0 3px 0 rgba(0,0,0,0.1),0 14px 10px rgba(0,0,0,0.15),0 34px 30px rgba(0,0,0,0.1);text-align:center;font:Bolder 30px/50px Arial;text-transform:uppercase;margin:0 10px;padding:0;border:0;float:left;text-decoration:none}
.fs-logo a{display:block;text-decoration:none}
.logo-text-shadow{text-shadow:0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15)!important}
.quick-filter{float:left}
.search-box{float:right;height:30px;margin:10px;position:relative}
.search-close-btn{border:0;padding:0;margin:0;position:absolute;right:86px;top:5px;width:20px;height:20px;font:11px/20px Arial;color:#DDD;background:rgba(255,255,255,0.1);cursor:pointer;border-radius:2em;display:none}
.search-close-btn:hover{color:#FFF;background:rgba(255,255,255,0.15)}
.search-box input{padding:0 15px;margin:0;border:0;font:12px/30px Arial;background:rgba(255,255,255,0.2);float:left;color:#fff;outline:none;-webkit-border-radius:0; border-radius:0;
}
.search-box input[type="submit"]{border-left:1px solid rgba(255,255,255,0.1);cursor:pointer;width:80px}
@media(max-width:600px) {
    .search-box input[type="text"]{width:calc(100% - 50px)}
    .search-box{position:absolute;right:-15px;top:0;width:calc(100% - 122px)}
    .search-close-btn{right:56px}
    .search-box input[type="submit"]{width: 20px;background: url(../images/search.png) no-repeat center center rgba(255,255,255,0.3); background-size: 20px auto;text-indent: -999px;-webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);}
}
.old-version{background:#ff0;border-radius:2em 0 0 2em;border:0;float:right;height:20px;margin:15px 0 15px 5px;font:Bold 12px/20px Arial;color:#666;padding:0 10px;cursor:pointer}
.old-version:hover{background:#d1d12e}
#content{max-width:1600px;margin:10px auto;overflow:hidden;min-height:calc(100vh - 366px)}
.popular-tag{padding:20px 0;margin:0 10px}
.grip-panel,.large-panel{margin:0 0 30px;position:relative}
.panel-title{font:Bold 26px/30px Roboto,Arial,sans-serif;color:#fff;padding:0 8px}
.order-by-box{position:absolute;right:0;top:8px}
.order-by-box a{text-decoration:none;color:#fff;border-radius:2em;padding:3px 10px;font:12px/20px Arial}
.order-by-box a.order-by-actived{background-color:yellow;color:red;position:relative;cursor:default;pointer-events:all!important;color:#333}
.order-by-box a.order-by-actived:after{position:absolute;left:50%;bottom:-12px;transform:translateX(-50%);border:6px solid transparent;border-top-color:yellow;content:''}
@media (max-width:601px) {
.order-by-box{position:fixed;bottom:10px;right:10px;top:auto}
.order-by-box a{display:block;margin-bottom:6px}
.order-by-box a.order-by-actived:after{left:-10px;transform:translate(0,-50%);top:50%;bottom:auto;border-color:transparent;border-right-color:yellow}
}
.panel-scrollbar{padding:0 0 20px;overflow-x:auto;overflow-y:hidden;margin:0 10px}
.no-scrollbar{padding:0 0 20px;overflow:hidden;margin:0 10px}
.grip-content{
    width:6400px; 
}
.panel-scrollbar{    
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}
.panel-scrollbar:active{
    cursor: -webkit-grabbing; cursor: grabbing;
}
.panel-scrollbar:active  * {
    cursor: -webkit-grabbing; cursor: grabbing;
}
.grip-content-sorted, .large-item{
    scroll-snap-align: start;
    display: inline-block!important;
    vertical-align: top;
    float: none!important;
}

@media screen and (max-width: 601px) {
    .grip-content-sorted, .large-item{scroll-snap-stop: always;}
}
.grip-item{width:400px;float:left;margin:0}
.grip-item a, .grip-item .default{display:block;text-decoration:none;height:80px;padding:10px;border-radius:10px}
.grip-item a:hover{background:rgba(0,0,0,0.06)}
.grip-item .item-img{border-radius:10px;overflow:height;box-shadow:1px 3px 5px rgba(0,0,0,0.5);width:60px;height:60px}
.grip-item .item-text{font:12px/20px Arial;color:#fff;padding:2px 10px;display:block;float:left;width:calc(100% - 100px);overflow:hidden;height:24px}
.item-stars,.item-category{display:block;float:left;margin:0 10px;font:12px/20px Arial;color:rgba(0,0,0,0.6);width:calc(100% - 100px)}
.bg-metaverse .item-stars,.bg-metaverse .item-category{color:#fff!important}
.bg-blue .item-stars,.bg-blue .item-category{color:#fff!important}
.bg-digital-art .item-stars,.bg-digital-art .item-category{color:#fff!important}
.bg-yellow .item-stars,.bg-yellow .item-category{color:#fff!important}
.bg-hero .item-stars,.bg-hero .item-category{color:rgba(255,255,255,0.5)!important}
.bg-wave .item-text{color:rgba(0,0,0,0.8)}
.bg-wave .item-stars,.bg-wave .item-category{color:rgba(0,0,0,0.5)!important}
.large-content{width:3963px}
.large-item{max-width:400px;display:block;float:left;margin:10px;border-radius:10px;position:relative;overflow:hidden;background:rgba(0,0,0,0.1)}
.large-item:hover{background:rgba(0,0,0,0.2)}
.large-item .grip-item{margin:0}
.large-item .grip-item a:hover{background:transparent}
.large-img{width:400px;height:209px;border-radius:10px 10px 0 0;background-color:rgba(255,255,255,0.3);overflow:hidden}
.large-img img{width:100%;height:100%}
.collections-name{position:absolute;left:0;bottom:0;right:0;background:rgba(0,0,0,0.5);font:Bold 15px/30px Arial;color:#fff;padding:2px 10px}
#play{margin:0 10px}
.play-box{height:550px;background:url(../images/ruffle-load-more.gif) no-repeat center center #000;position:relative;max-height:calc(100vh - (130px + 26px));overflow:hidden;position: relative;}
.play-tool-box{margin:1px 5px 1px 10px;min-height:80px}
#play .play-box{max-height:calc(100vh - 162px)!important}
#play .play-tool-box{margin:1px 10px!important;min-height:80px}
.playbox__layer{position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;z-index: 99;}
.playbox__layer .w3-button{width: 123px; height: 123px; clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);position: relative;z-index: 1; background-color: yellow;font-weight: bold; font-size: 20px;white-space: wrap; text-shadow:-1px -1px rgba(0,0,0,.5)}
.playbox__layer .w3-button::before{content: "";position: absolute; left: 3px; top:  3px; right:  3px; bottom:  3px; z-index: -1;clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); background-color: rgb(97, 16, 30);color:red}
.playbox__layer:hover .w3-button{background-color: rgb(143, 3, 27);color: white!important;}
.playbox__layer{filter: drop-shadow(0 0 10px rgb(143, 3, 27)) 
    drop-shadow(0 0 30px rgb(110, 1, 19)) 
    drop-shadow(0 0 50px rgb(110, 1, 19)) 
    drop-shadow(0 0 100px rgb(110, 1, 19)) 
    drop-shadow(0 0 150px rgb(110, 1, 19)) 
    drop-shadow(0 0 200px rgb(110, 1, 19))
}/*
.playbox__layer:hover{filter: drop-shadow(0 0 10px rgb(143, 3, 27)) 
    drop-shadow(0 0 30px rgb(110, 1, 19)) 
    drop-shadow(0 0 50px rgb(110, 1, 19)) 
    drop-shadow(0 0 100px rgb(110, 1, 19)) 
    drop-shadow(0 0 150px rgb(110, 1, 19)) 
    drop-shadow(0 0 200px rgb(110, 1, 19))
    drop-shadow(0 0 250px rgb(110, 1, 19))
}*/
.playbox__layer:hover .w3-button::before{background-color: rgb(143, 3, 27);color: white!important;}

.play-nav{margin:10px}
.play-nav a,.play-nav span,.play-nav h1{display:block;float:left;margin:3px 5px;font:12px/20px Arial;color:#fff}
.play-nav-link{text-decoration:none;color:#EEE}
.game-name{max-width:calc(100% - 190px)!important;display: block; height: 50px;text-align: left;color:white;float:none;overflow:hidden}
@media (max-width:601px) {
    .game-name{font: 18px/23px Arial!important;margin-top: 5px;}
    .logo-text-shadow{text-shadow: 1px 1px 3px rgba(0,0,0,.5)!important;}
}
#preload-ad{position:absolute;left:0;top:0;right:0;bottom:0;background:#333;z-index:1000}
.preload-ad-container{width:310px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
.preload-ad-container b{color:#fff;font:12px/30px Arial;display:block;text-align:center}
.preload-ad-body{width:310px;height:260px;background:url(../images/ruffle-load-more.gif) no-repeat center center #000;border-radius:3px;padding:5px}
.preload-close-button{border:0;background:rgba(255,255,255,0.05);color:#fff;font:Bold 18px/30px Arial;width:100%;text-align:center;margin:15px auto;border-radius:3px}
.preload-ad-play-game{background:green;border-radius:2em;box-shadow:0 3px rgba(0,255,12,0.2);cursor:pointer}
.preload-ad-play-game:hover{box-shadow:0 3px rgba(0,255,12,0.23);color:#DDD}
@media (max-height:900px) {
    .play-nav{display:none}
}
@media (min-height:901px) {
    .play-box{
        max-height:calc(100vh - 206px)!important
    }
}
#iframe_container{background:#000}
.mobile-overplaybox{background:#000;position:absolute;left:0;top:0;right:0;bottom:0}
.mobile-content{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);margin:0}
.mobile-content img{vertical-align:top;margin:0 22px;border-radius:5px 5px 0 0}
.mobile-menu{display:block;height:50px;background:#fff;clear:both;background:#f14444;position:relative;padding:0;margin:0}
.mobile-menu .fs-logo{height:50px!important}
.logo-img a{text-indent: -9999px;}
.mobile-close-btn{border-radius:50%;background:#fff;width:30px;height:30px;float:right;z-index:99;display:block;font:Bold 12px/1 Arial;color:red;margin:10px;cursor:pointer;border:1px solid #e25653}
.mobile-close-btn:hover{border-color:#333}
.mobile-menu .fs-logo{line-height:50px}
.rotate{width:50px;height:100vh;float:right;margin:0}
.rotate .fs-logo{line-height:50px;font-size:16px;position:absolute;bottom:15px;top:0!important;background:red;border-radius:3px;width:50px;margin-right:10px}
.rotate .mobile-close-btn{margin-right:10px}

.fullscreen-btn{float:right;border:0;margin-right:460px;margin-left:10px;background:url(../images/expand-32.png) no-repeat 5px center rgba(255,255,255,0.3);padding-left:22px;background-size:12px auto;color:#fff;cursor:pointer;border-radius:3px;font:12px/20px Arial}
fullscreen-btn:hover{background-color:rgba(255,255,255,0.5)}

.game-info{min-height:500px;border-radius:0 0 5px 5px;padding-top:10px;background-image:linear-gradient(to bottom,#000 0%,#D40F0C 100%)}
.bg-digital-art .game-info{background-image:linear-gradient(to bottom,#000 0%,#2B3D4B 100%)}
.bg-wave .game-info{background-image:linear-gradient(to bottom,#000 0%,#FFF 100%)}

/* Tools */
.emulator-box{margin:5px;background-color:rgba(0,0,0,.3);border-radius:3px;border: 1px solid rgba(255,255,255,.1); border-top: 0; border-left: 0}
@media (max-width:601px) {
    .emulator-box{margin-top:0}
}
.emulator-box label{position: absolute; right:-100%; top:0;z-index: -1;}
.emulator-box select{
    background-color:rgba(0,0,0,.2);border:0;padding:10px 5px;color:#fff;outline:none;width: 164px;text-align:center;
    appearance: none;-moz-appearance: none;-webkit-appearance: none;
    background: transparent;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAATElEQVR4nO3OsQkAIAwF0YAOlO0cyM4lz85CRBOthBz8JsUjIlH0FqBAcU53YAIq9hqQT19a0TPmQO2YAfVjG/QeW6Dv2ISmcYj+qgM78/0DRA2vDgAAAABJRU5ErkJggg==);
          background-repeat: no-repeat;
          background-position-x: 90%;
          background-position-y: center;
          text-align: left;
}
@supports (-webkit-touch-callout: none) {
    .emulator-box select{ 
        width:174px;
        background-position-x: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance: none) {
        .emulator-box select{            
            background-position-x: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}


@supports (-moz-appearance:none) {
    /* Only Firefox Browser */
    .emulator-box select{
        width: 162px;
        margin-left: 10%;
        margin-right: 10%; 
        background-position-x: 80%;
    }
    option{ font-size:12px!important;} 
}
@supports (-webkit-font-smoothing: antialiased) {
    /* Only Chrome Browser */
    option{ font-size:16px!important;} 
    optgroup{ font-size:18px!important;	font-weight:600!important;} 
}
/* Only Firefox Browser
@-moz-document url-prefix() {
    .emulator-box select{width: 162px;}
 
}*/
.emulator-box select:disabled{cursor: no-drop;}
.emulator-box option{background-color:rgba(0,0,0,0.5);font:12px/20px Arial;color:#fff;padding: 5px auto;text-align:center;}
.emulator-box optgroup{color:red;font:bold 12px/30px Arial;padding:5px;background:rgba(0,0,0,0.8);}
.emulator-label{display: block;margin: 0; text-align: center}
.more-tools{margin: 5px;}
.more-tools-group{margin:0 2px; float: left;background-color: rgba(0,0,0,.2); border-radius: 3px; color:white; border: 1px solid rgba(255,255,255,.1); border-top: 0; border-left: 0; cursor: pointer; height: 28px; font:12px/18px Arial}
.more-tool-app{font:Bold 20px/18px Arial;position: relative; width: 31px;text-align: center;}
    .more-app-sub{position: absolute; bottom: 0; right:calc(100% - 26px); z-index: 9999;}
    .more-app-sub-content{background-color: red;min-width: 90px; margin-bottom: 30px; border-radius: 5px; padding-bottom: 0; display: none;overflow:hidden}
    .more-app-sub-content::after{position: absolute;right:6px; bottom: 18px; width: 0; height: 0; border: 6px solid red; border-bottom-color: transparent; border-left-color: transparent; border-right-color: transparent;content: "";}
    .more-app-sub-content .list{min-width: 120px;text-align: left;margin:0; padding:10px 15px 10px 10px; border-bottom: 1px solid rgba(0,0,0,0.1);box-shadow:0 1px rgba(255,255,255,0.2);font:12px/16px Arial;cursor: pointer; display: block; text-decoration: none;text-overflow: ellipsis;
  white-space: nowrap;text-transform: capitalize}
    .more-app-sub-content .list:hover{background:rgba(255,255,255,0.3);}
    .more-app-sub-content .list:last-child{border-bottom: 0;box-shadow:none;}
    .more-tool-app:hover .more-app-sub-content{display: block;}
    .controls-box{left:5px; top:5px; right:175px; bottom:5px; background-color: black; transform: none; border-radius: 3px; margin-top: 100%; transition: all .20s ease-out;overflow: hidden;border-left: 1px solid transparent}
    @media (max-width:601px) {
        .controls-box{right: 3px;}
    }
    .controls-box-close{background-color: rgba(0,0,0,.1); border: 1px solid rgba(255,255,255,0.2);border-bottom: 0; border-right: 0;color:white;border-radius:3px 0 0 0; margin: 0;cursor: pointer; position: absolute; bottom:0; right: 0; background-color: black;}
    .controls-box-close:hover{border-left: 1px solid rgba(255,255,255,0.35);border-top: 1px solid rgba(255,255,255,0.35)}
    .controls-box-close span{font-size: 10px;font-weight:100; color:white; line-height: -5px;}
    /*.controls-box marquee{width: calc(100% - 150px); position: absolute; left: 0; top:0; bottom: 0;}*/
    .quick-controls-box{float: left; padding: 10px!important; display: table; height: 100%}
    .quick-controls-box-middle{display: table-cell; vertical-align: middle; height: 100%}
    .quick-controls-box-middle .controls{margin-top: 0!important; margin-bottom: 5px!important;}
    .quick-controls-group, .quick-controls-label{margin: 0;padding: 0; vertical-align: top;}
    .player-tooltip{position: relative;}
    .player-tooltip::after{content: attr(data-title); position: absolute; bottom: calc(100% + 10px); left:50%; transform: translateX(-50%); font:12px/1 Arial; background-color: red; border-radius: 2em;padding: 3px 10px; white-space: nowrap;z-index: 99; display: none;}
    .player-tooltip::before{position: absolute; bottom: 100%; left:50%; transform: translateX(-50%); content: ""; width: 0; height: 0; border: 6px solid red; border-bottom-color: transparent; border-left-color: transparent; border-right-color: transparent; display: none;}
    .tooltip-alway-show{z-index: 9998;}
    .tooltip-alway-show::after, .tooltip-alway-show::before{
        display: block;
    }
    .player-tooltip:hover::after{display: block;}
    .player-tooltip:hover::before{display: block;}
    .quick-controls-label{background-color: rgba(255,255,255,0.3);
        text-transform: uppercase;
        font:12px/30px Arial;
        padding: 3px 5px;
        border-radius: 3px;}
    .controls-box  .quick-controls-group{position: relative;display: inline-block; margin-left: 20px!important;}
    .controls-box .quick-controls-label{position: absolute; transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        font:10px/22px Arial!important;
        margin-left: -40px!important;
        width: 57px;
        overflow: hidden;
        text-align: center;
    }
    .more-toolbar-group{
        width: 18px;
        height: 18px;
        padding: 0;
        display: inline-block;
        font:20px/18px Arial;
        color: #FFF;
        text-align: center;
        margin: 0 5px 0 0;
    }
    @media (max-width:601px) {
        #wide_size{display: none}
    }
    .share-it-box, .tool-viewport{position: fixed; left: 50%; top:50%; transform: translate(-50%, -50%); background-color: red;border-radius: 50px; width: 500px; min-height: 100px;max-width: 96%; max-height: 100vh; box-shadow: 10px 20px 30px rgba(0,0,0,.9);z-index: 99999;border: 0 solid rgba(255, 216, 0, 0.8);display: none; padding: 30px; box-sizing: border-box}
    .share-it-header, .tool-viewport-header{border-bottom: 1px solid rgba(0,0,0,.1); box-shadow: 0 1px rgba(255,255,255,0.2);font:Bold 16px/30px Arial;margin: 0; padding: 0 5px; text-align: center;text-transform: uppercase; background-color: rgba(0,0,0,0.01);border-radius: 5px 5px 0 0;}
    .share-it-list{margin: 10px;position: relative;}
    .share-it-list label{display: block}
    .share-it-list input, .share-it-list textarea, .tool-viewport textarea{width: 100%; border: 0; border-radius: 0; outline: none;padding: 3px 5px; border-left: 1px solid rgba(0,0,0,.1);border-top: 1px solid rgba(0,0,0,.1); background-color: rgba(0,0,0,.3); color: rgba(255,255,255,0.8);border-bottom: 2px solid transparent;border-right: 2px solid transparent;}
    .tool-viewport textarea{margin: 0 10px;}
    .share-it-list input:focus, .share-it-list textarea:focus{border-color: transparent;border-bottom-color: rgba(255,255,255,0.2);border-right-color: rgba(255,255,255,0.2);}
    .share-it-list .social-icon{ background-color: #2c4e96; border-radius: 2em; font: 12px/20px Arial; padding: 3px 10px; text-decoration: none;}
    .share-it-close{background-color: rgba(255, 216, 0, 0.8);font:12px Arial; line-height: 1;color:black;border: 0; border-radius: 2em; width: 30px; height: 30px; margin: 5px 0; cursor: pointer; position: absolute; left: 50%;top:-18px; transform: translateX(-50%); text-align: center; padding: 0;}
    @media (max-width:601px){
        .share-it-close{top:auto; bottom: -18px;}
    }
    .share-it-copy{border: 0; background-color:rgba(255, 216, 0, 0.8); border-radius: 1px; font:12px/16px Arial;position: absolute; top: 22px;right: 5px;cursor: pointer;color: black}
    .game-bugs-reported{background-color: rgba(255, 216, 0, 0.5); border-radius: 1px; padding: 5px; text-align: center; margin: 10px; line-height: 1;transform: skew(-20deg);}
    .game-bugs-reported span{transform: skew(20deg);display: inline-block; padding-bottom: 6px}
    .game-bugs-reported span:last-child{font:12px/1 Arial;}
    .game-bugs-content{margin: 10px; border-top: 0 solid yellow; padding: 10px 0 0 0;}
    .game-bugs-list{display: block; font:12px/20px Arial;color:white}
    .game-bugs-list:not(.disabled):hover{color: #CCC;}
    .game-bugs-content .disabled{cursor: no-drop;}
    .game-bugs-list input{vertical-align: middle; margin: 5px;}
    .game-bugs-submit{border: 0;background-color: rgba(255, 216, 0, 0.8);color: white; float: right; margin-right: -10px; cursor: pointer; margin-bottom: -1px;color: black; font:12px/20px Arial; border-radius: 2px;}
    .game-bugs-submit:not(:disabled):hover, .share-it-copy:hover, .share-it-close:hover{background-color: rgba(255, 216, 0, 1);color:red}
    
.more-tool-guide{width: 28px;font-weight:600;}

/* Game property  */
.para-box{text-align:center}
.para-box .para-item,.para-emulator{display:inline-block;vertical-align:top;margin:5px}
.para-box .para-item span:first-child{background:rgba(255,255,255,0.1);border-radius:2px 0 0 2px;padding:3px 8px;font:Italic 12px/20px Arial;color:#fff;float:left;display:block;box-shadow:1px 2px 2px rgba(0,0,0,0.2)}
.para-box .para-item span:last-child{background:rgba(255,255,255,0.3);border-radius:0 2px 2px 0;padding:3px 8px;font:Bold 12px/20px Arial;color:#fff;float:left;display:block}
.para-emulator{background:rgba(255,255,255,0.1);background-image:linear-gradient(to bottom,#635959 0%,#726767 86%);border-radius:2em;padding-right:3px;height:26px;overflow:hidden;text-align:center}
.para-emulator span{border-radius:0 2px 2px 0;padding:1px 8px;font:Bold 12px/18px Arial;color:#fff;display:inline-block;vertical-align:top;margin:3px 2px;height:20px;cursor:pointer}
.para-emulator span.pactived{background:rgba(255,255,255,0.3);border-radius:2em;background-image:linear-gradient(to bottom,#B3B1B1 0%,#A19898 100%);box-shadow:1px 2px 2px rgba(0,0,0,0.3)}
.para-emulator span:first-child{border-radius:2px 0 0 2px;padding:3px 8px;font:Italic 12px/14px Arial;color:rgba(255,255,255,0.5);float:left;display:block;box-shadow:none;background:transparent!important;cursor:default}
.more-info-header{position:relative;height:20px}
.more-info-text{position:absolute;left:10px;display:block;background:yellow;top:0;z-index:2;font:Bold 12px/20px Arial;padding:2px 10px;color:#333;border-radius:3px}
.more-info-line{border-bottom:1px solid transparent;border-image:linear-gradient(45deg,yellow,transparent);border-image-slice:1;display:block;position:absolute;left:0;top:50%;right:0}
.more-info-content{margin:10px;border-radius:3px;background:rgba(255,255,255,0.15);padding:10px;font:12px/18px Arial;color:#FFF}
.more-info-content pre{font:12px/18px Arial;color:white; padding:0; margin: 0;}
.more-info-content .popular-tag{margin:0;padding:0}
.right-box{width:470px;float:right}
.related-box{float:left;width:130px;margin:0 10px 10px;height:620px}
.related-box .related-item:first-child{margin-top:20px}
.related-item{display:block;float:left;width:100px;height:100px;margin:10px 20px;border-radius:12px;position:relative}
.related-item:hover{box-shadow:5px 5px 5px rgba(0,0,0,0.1)}
.related-item img{width:100%;height:100%;border-radius:10px}
.item-tooltip{position:absolute;top:50%;left:108%;font:Bold 12px/16px Arial;transform:translateY(-50%);width:120px;text-align:center;background:red;box-shadow:0 2px #333;z-index:1000;color:#fff;border-radius:0 10px 10px 0;padding:2px 10px;display:none}
.related-item:hover .item-tooltip{display:block}
.tooltip-arrow{display:block;height:0;width:0;border:6px solid red;border-left-color:transparent;border-top-color:transparent;border-bottom-color:transparent;position:absolute;top:50%;transform:translateY(-50%);right:100%}
.ad-300x600{width:300px;height:600px;background:rgba(255,255,255,0.05);margin:10px;float:right;text-align:center;font:12px/30px Arial;color:rgba(0,0,0,0.3);border-radius:3px;padding:5px}
@media(max-width:800px) {
    .fullscreen-btn{margin-right:0}
    #play{width:98%;margin:10px auto}
    .right-box{width:320px;height:270px;margin:0 auto;float:none;display:none}
    .ad-300x600{width:300px;height:250px;margin:0 auto}
}
@media(min-width:801px) and (max-width:1200px) {
    .fullscreen-btn{margin-right:340px}
    .right-box{width:350px}
    .ad-300x600{width:160px;height:600px;margin:0 10px}
}
#footer{min-height:200px;background:rgba(255,255,255,0.1)}
.footer-content{max-width:1600px;margin:0 auto}
.footer-box{display:block;float:left;margin:0 100px 30px 20px}
.footer-box .footer-list{display:block;font:12px/20px Arial;color:#EEE;padding:2px 5px;text-decoration:none}
.footer-box .footer-list:not(span):hover{text-decoration:underline}

@media (max-width: 768px) {
    .footer-box .footer-list{height:50px;margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0;}
}

.footer-title{font:Bold 18px/50px Arial;color:rgba(255,255,255,0.8);border-bottom:1px solid rgba(255,255,255,0.3)}
.bg-wave .footer-box a{color:#333}
.home-page,.play-page,.category-page{margin:0;border:0;padding:0}

.mobile-logo-btn{
	position: fixed;
	left:0; top: 10px;
	background-color: red;
	border-radius: 0 2em 2em 0;
	z-index: 9999999;
	font:italic 16px/20px Arial;
	text-decoration: none;
	color:white;
	padding: 3px 10px 3px 3px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	animation: all 300ms linear;
    cursor: pointer;
    white-space:nowrap;
}
@media only screen and (orientation:portrait){
    .mobile-logo-btn-landscape{
        transform: rotate(90deg);
        transform-origin: left top;
        left:calc(100vw - 10px);
        top:0;
    }
}
.mobile-logo-btn:hover{box-shadow: 0 6px 3px rgba(0,0,0,0.5);}
